<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byType">
    <import resource="spring-basic.xml"/>
    <bean id="firstCourseBusinessOperation" class="com.kevin.course.operation.business.IFirstCourseBusinessOperation" autowire="byType"/>
    <bean id="secondCourseBusinessOperation" class="com.kevin.course.operation.business.ISecondCourseBusinessOperation" autowire="byType"/>
    <bean id="teacherBusinessOperation" class="com.kevin.course.operation.business.ITeacherBusinessOperation" autowire="byType"/>
    <bean id="teacherAbilityBusinessOperation" class="com.kevin.course.operation.business.ITeacherAbilityBusinessOperation" autowire="byType"/>
    <bean id="teacherDefaultHolidayBusinessOperation" class="com.kevin.course.operation.business.ITeacherDefaultHolidayBusinessOperation" autowire="byType"/>
    <bean id="teacherHolidayBusinessOperation" class="com.kevin.course.operation.business.ITeacherHolidayBusinessOperation" autowire="byType"/>
    <bean id="studentBusinessOperation" class="com.kevin.course.operation.business.IStudentBusinessOperation" autowire="byType"/>
    <bean id="scheduleBusinessOperation" class="com.kevin.course.operation.business.IScheduleBusinessOperation" autowire="byType"/>
</beans>